.boxContainer {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    width: 300px; /* adjust width as needed */
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(243, 241, 241);
    position: fixed;
    right: 10px;
    top: 3rem;
  }
  
  .itineraryInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .saveButton,
  .goButton {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .saveButton {
    background-color: #4CAF50;
    color: #ffffff;
  }
  
  .goButton {
    background-color: #2196F3;
    color: #ffffff;
  }
  
  .saveButton:hover {
    background-color: #45a049;
  }
  
  .goButton:hover {
    background-color: #0b7dda;
  }
  
  .savingAlert{
    color: #5a5a5a;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 1rem;
  }

 .saveButton:disabled, 
.goButton:disabled {
  background-color: #ccc;  /* Make it look greyed out or whatever color you prefer */
  cursor: not-allowed;  /* Change the cursor to indicate it's not clickable */
}

.errorText {
  color: red;
  margin-top: 8px;
  font-size: 0.8rem;
}