@media (min-width: 0px) {

/* parent */
.itineraryArrOfItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* cursor: pointer; */
    margin-bottom: .1rem;
    margin-top: .1rem;

}
/* /////utility section */
.utilitySection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 3.2rem;
    border: none;
}
.shareItineraryButton{
    border: none;
    color: rgb(36, 35, 35);
    background-color: white;
    height: 100%;
    font-family: "roboto", sans-serif;
    font-size: 17px;
}
.addItineraryItemButton{
    border: none;
    color: rgb(36, 35, 35);
    background-color: white;
    margin: 0 .5rem 0 2rem;
    width: 3rem;
    height: 100%;
    font-size: 2rem;
    font-weight: 500;

}
/* /////////////////////// */
.parentDropDiv{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
}


/* /////////////Main Itin Item View///////////////////// */
.dropDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.itineraryParent{
   
    padding: 1rem 1.5rem;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 0px;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    font-family: 'Roboto';
    transition: background-color 0.3s;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itineraryParent.isShown{
    height: fit-content;
}


.itineraryItemContainerContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.itineraryItemContainerContainer.isShown{
    flex-direction: column;
}

.mainItinItemContainer{
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
}


.itinTitleContainer{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column; 
    font-family: 'Roboto', sans-serif;
    color: rgb(29, 29, 29);
    font-weight: 400;
    margin: 0;  
}

.itinTitle{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding:0px 0px 0px .25rem;
    margin:0px;
    width: 100%; 
    line-height: 1.2rem;
    color: rgb(48, 48, 48);
    cursor: pointer;
    font-size: 16px;
}

.itinTitle.isShown{
    line-height: 1rem;
}

.ownResearchContainer,
.expandedItinAddressContainer
{
    /* display: flex; */
    text-align: left;
    padding: 0 0 0 .25rem;
    display: none;
    font-size: 16px;
    
}

.itinTitleDescription.isShown{
    display: flex;
    margin-top: 1rem;
    padding-top: 0;
    height: 3rem;
    width: 12rem;
    justify-content: flex-start;
    align-items: flex;
    text-align: left !important;
    width: 100% !important;
    height: fit-content !important;
    overflow-wrap: break-word;
}
.itinTitleDescription{
    display: none;
}

.rightContainer{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: center;
    padding: 1px;
    justify-content: center;
    align-items: center;
}

.rightContainer.isShown{
    flex-direction: column;
    height: 4rem;
}

.activityTime{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: rgb(5, 5, 5);
    width: 8rem;
}

.activityTime.isShown{
    margin-left: -.25rem;
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 101%;
}

.startTimeContainer,
.endTimeContainer{
    width: 100%;
}

.startTime,
.endTime,
.durationContainer{
    width: 100%;
    font-size: 16px;
    line-height: 16px;
}
.infoBannerWords{
    display: none;
}

.infoBannerWords.isShown,
.startTime.isShown,
.endTime.isShown,
.durationContainer.isShown{
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
}


.hamburgerMenuContainer{
    height: 100%;
    width: 2rem;
    font-size: 20px;
    text-align: center;
    color: rgb(29, 29, 29);
    padding: 6px 0px 0px 2px;
}

.expandedItinMapText{
    display: none;
    color: black;
    width: 0;
}

.expandedItinMapText.isShown{
    width: 1rem;
    height: 100%;
    font-size: 20px;
    text-align: right;
    color: rgb(29, 29, 29);
    padding: 0px 0px 0px 2px;
}

.hamburgerMenuContainer.isShown{
    width: 100%;
    text-align: right;
    display: none;
}

/* /////////////Expanded Itin Item View///////////////////// */ 


.expandedItinItemContainer{
    position: absolute;
    top: 3rem;
    left: 0;
    visibility: none; /*hide by default */
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 0;
    height: 0;
    cursor: pointer;
    font-weight: 300;
    opacity: .95;
}


.isShown{
    display: block;
}

.expandedItinMapContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    color: #F3EFEF;
    /* background-color: #FF7890; */
    padding: 1.5rem 0rem 2rem 0rem;
    align-items: center;
     }
         

.expandedItinItemTitle,            
.expandedItinItemText,
.expandedTimeContainer
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: .5rem 2rem 1rem 2rem;
    background-color: transparent;
    cursor: pointer;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.expandedItinItemWebsite a,
.youtubeLink a{ display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: .5rem 0rem .25rem .5rem;
    background-color: transparent;
    cursor: pointer;
    font-family: "roboto", sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;}


.expandedItinItemText{
    text-align: left;
}

.expandedItinItemTitle{
    font-weight: 400;
}

.GMapText,
.youGSearchText,
.youTubeLinkText{
    padding-left: 1rem;
}

.expandedMidTextWrapper{
    display: flex;
    flex-direction: row;
}
.expandedMidGroupingIndicator{
    width: 1rem;
    background-color: #F3EFEF;
    border-radius: 10rem;
}
.expandedMidGroupingRightEmpty{
    width: 1rem;
}


.expandedItinYouTubeContainer{
    height: 45%;
    width: 100%;
    margin-top: 1px ;
}

.menu{
    position: relative;
    bottom: 2rem;
    right: 6rem;
    width: 8rem; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0px;
    z-index: 9999;
    font-size: 20px;
    line-height: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: #bebebe;
  }

  .addMenuContainer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:right;
  }
  
  .addMenu {
    bottom: 1rem;
    right: 1rem;
    width: 10rem; /* Adjust the width as needed */
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 3px 0;
    z-index: 9999;
    font-size: 16px;
    line-height: 10px;
    text-align: left;
  }

  .menu.isShown{
    bottom: 2rem;
    right: .25rem;

  }

  .menuItem {
    padding: 8px;
    width: 100%;
    background-color: #fff;
    color: #333;
    cursor: pointer;

  }
  
  .menuItem:hover {
    background-color: #f5f5f5;
  }
  
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Black with opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

}
  @media (min-width:500px){
    /* collapsed text settings */
    .itinTitle
    {
        font-size: 18px;
    }
    .startTime,
    .endTime,
    .durationContainer {
        font-size: 18px;
    }

/* expandedTextSettings */
    .itinTitle.isShown,
    .infoBannerWords.isShown,
    .startTime.isShown,
    .endTime.isShown,
    .itinTitleDescription.isShown,
    .durationContainer.isShown,
    .expandedItinAddressContainer.isShown,
    .ownResearchContainer.isShown,
    .youGSearchText,
    .youTubeLinkText
    {
        font-size: 18px;
        line-height: 18px;
    }
    .expandedItinMapText.isShown{
        /* width: 4rem; */
        font-size: 22px;
    }
    
    .dropDiv{
        width: 90%;
    }
    
    .itineraryParent{
        border-radius: 0;
        border-radius: 10px;
        padding: 1rem;

    }  

    
    .activityTime.isShown{
        margin:1rem 0 0 0;
        width: 100%;
    }
    .expandedItinMapText.isShown{
        width: 4rem;
    }
 }

 @media (min-width:1200px){
    .dropDiv{
        font-size: 20px;
    }
    .itinTitle
    {
        font-size: 20px;
    }

   /* collapsed text settings */
    .startTime,
    .endTime,
    .durationContainer {
        font-size: 20px;
    }

/* expandedTextSettings */
    .itinTitle.isShown,
    .itinTitleDescription.isShown,
    .startTime.isShown,
    .endTime.isShown,
    .infoBannerWords.isShown,
    .durationContainer.isShown,
    .expandedItinAddressContainer.isShown,
    .ownResearchContainer.isShown,
    .youGSearchText,
    .youTubeLinkText
    {
        font-size: 20px;
        line-height: 20px;
    }
    .expandedItinMapText.isShown{
        /* width: 4rem; */
        font-size: 24px;
    }
  
 }