.nav{
  position: fixed;
  top: 0;
  left:0;
  display: flex;
  flex-direction: column;
  height: 4rem;
  width: 100%;
  gap:0
}

.topNavContainer{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
  }
  


  .title{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .01em;
    font-family: 'Roboto', sans-serif;
    color: #bebebe;
    cursor: pointer;
    
  }

  .title:hover {
    color: #f83c5e !important;
    cursor: pointer;
  }

  .linkWithoutUnderline {
    text-decoration: none;
  }

 
.rightTopNavBar {
  display: flex;  
  flex-direction: row;             
  align-items: center;         
  gap: 10px;       
  height: 3rem;
  width: 7rem;
  
}

.topNavContainer > div:first-child {
  width: 7rem;
}

.topNavContainer > div:nth-child(3){
  flex:1;
  text-align: center;
}

.topNavContainer > div:nth-child(2),
.topNavContainer > div:nth-child(4) {
  width: 1rem;
}

.jumboPlusContainer{
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .rightTopNavBar,
  .topNavContainer > div:first-child {
    width: 5rem;
  }
} 