
.profileStaticContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  width: 512px;
  height: auto;
  align-items: center;
}


.profileStaticFields{
  margin-bottom: .25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: flex-start;
}

.profilePicImageContainer {
  width: 220px;
  height: 200px;
  position: relative;
  /* border-radius: 50%; */
  margin-bottom: 20px;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(233, 233, 233, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 20px;
}

.modalTitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.passwordInput {
  width: 50%;
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.errorMessage {
  color: red;
  margin-bottom: 16px;
}

.submitButton,
.cancelButton {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.submitButton {
  background-color: #007bff;
  color: white;
}

.cancelButton {
  background-color: #ccc;
}

.profilePicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileStaticFieldsBio{
  margin-bottom: .25rem;
  margin-left: 1rem;
}

.profileStaticFieldsBio {
margin-right: 1rem;
text-align: justify;
}

/* For screens smaller than 768px, reduce max-width */
@media (max-width: 767px) {
  .profilePicImageContainer {
    max-width: 256px; /* Adjust this value for smaller screens */
  }
  .modal {
    padding: 10px;
  }

  .modalTitle {
    font-size: 20px;
  }

  .passwordInput {
    padding: 8px;
  }
}

/* For screens larger than 1200px, you can increase max-width if needed */
@media (min-width: 1200px) {
  .profilePicImageContainer {
    max-width: 512px; /* Or any other value that fits larger screens */
  }
  .modal {
    max-width: 600px;
    margin: auto;
  }
}


/* Example media query for a tablet */
@media (max-width: 768px) {
  .profilePicImageContainer {
    border-radius: 5px; /* Adjustments for smaller screens */
  }
  .passwordInput {
    width:60%;
  }
  .submitButton,
  .cancelButton {
    padding: 10px 20px;
  }
}

/* Example media query for a mobile phone */
@media (max-width: 480px) {
  .profilePicImageContainer {
    border: none; /* More adjustments for very small screens */
  }
  .modalTitle {
    font-size: 18px;
  }
  .passwordInput {
    width:80%;
  }
  .submitButton,
  .cancelButton {
    padding: 8px 16px;
  }
}

