
.profileStaticContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  width: 512px;
  height: auto;
  align-items: center;
}


.profileStaticFields{
  margin-bottom: .25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-self: flex-start;
}

.profilePicImageContainer {
  width: 420px;
  height: 420px;
  position: relative;
  /* border-radius: 50%; */
  margin-bottom: 20px;
  
}

/* For screens smaller than 768px, reduce max-width */
@media (max-width: 767px) {
  .profilePicImageContainer {
    max-width: 256px; /* Adjust this value for smaller screens */
  }
}

/* For screens larger than 1200px, you can increase max-width if needed */
@media (min-width: 1200px) {
  .profilePicImageContainer {
    max-width: 512px; /* Or any other value that fits larger screens */
  }
}

.profilePicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Example media query for a tablet */
@media (max-width: 768px) {
  .profilePicImageContainer {
    border-radius: 5px; /* Adjustments for smaller screens */
  }
}

/* Example media query for a mobile phone */
@media (max-width: 480px) {
  .profilePicImageContainer {
    border: none; /* More adjustments for very small screens */
  }
}


.profileStaticFieldsBio{
  margin-bottom: .25rem;
  margin-left: 1rem;
}

.profileStaticFieldsBio {
margin-right: 1rem;
text-align: justify;
}