.tabsContainer {
    max-width: 600px;
    margin: auto;
    margin-top: 4rem;
    padding: 20px;

  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .profileLabel {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: .75rem;
  }
  
  .profileInput,
  .profileTextarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: .85rem;
  }

  .profileTextarea{
    height: 12rem;
  }
  
  .profileSaveButton,
  .profileCancelButton,
  .profileEditButton,
  .editPhotoButtons {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .profileSaveButton{
    margin-top: 1rem;
  }
  .editPhotoButtons{
    background-color: rgb(190, 189, 189);
    margin-top: .3rem;
    margin-right: .5rem;
    width: 6rem;
  }
  .profileEditButton{
    background-color: rgb(190, 189, 189);
    margin-top: 1rem;
  }

  .profileCancelButton{
    background-color: #dc3545;
    margin-left: 1rem;
  }
  
  .profileSaveButton:hover {
    background-color: #0056b3;
  }
  
  .profilePictureMessage{
    margin-top: .5rem;
    font-family:'Roboto', sans-serif;
    font-style: italic;
  }

  
  
  .profileStaticContainer{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .privacyH3Static{
    align-self:flex-start;
    margin-bottom: .25rem;

  }
 
  .profileStaticFields,
  .profileStaticFieldsBio{
    margin-bottom: .25rem;
    margin-left: 1rem;
  }

  .profileStaticFieldsBio {
  margin-right: 1rem;
  text-align: justify;
  }


  .profilePicImageContainer {
    width: 200px; /* Default size */
    height: auto;
    border: none;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 50%;
    align-self: center;
  }

  .profilePicPreviewImageContainer{
    max-width: 320px; /* Default size */
    max-height: 320px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profilePicturePreview{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .UPPhotoAttachIconButtons{
    display: flex;
    gap: 2rem;
  }
  .floppyDisk, 
.cancelMark,
.trashIcon,
.attachIcon,
.resetPhotoIcon,
.deletePhotoIcon {
  color: #807f7f;
  cursor: pointer;
  align-self: center;
  height: 1.5rem;
  width: 1.5rem;
}

.floppyDisk :hover,
.cancelMark :hover,
.trashIcon :hover,
.attachIcon :hover,
.resetPhotoIcon :hover,
.deletePhotoIcon :hover{
  color: #f83c5e;
}

.shareProfileLinksContainer{
  display: flex;
  width: 100%;
  
}
  /* For screens smaller than 768px, reduce max-width */
  @media (max-width: 767px) {
    
  }
  
  /* For screens larger than 1200px, you can increase max-width if needed */
  @media (min-width: 1200px) {
    
  }


  /* Example media query for a tablet */
  @media (max-width: 768px) {
  
  }
  
  /* Example media query for a mobile phone */
  @media (max-width: 480px) {
  
  }

  .checkBoxContainer{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

  .checkBoxItems{
    margin-bottom: .25rem;
  }
  
 
