/* ItinGalleryComponent.module.css */
.container {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;  
    width: 22rem; 
    height: 22rem;
    margin: .7rem auto; 
    padding-bottom: .45rem;
  }

  .container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .aspectRatioBox {
    position: relative;
    width: 22rem;
    height: 13rem;
    display: block;
  }

  .image {
    width: 100%;
    height: 13rem;
    background-size: cover;
    background-position: center;
  }
  

  .title {
    font-size: 18px;
    margin: .5rem .5rem .25rem .5rem;
    color: #333;
  }
  
  .text {
    margin: 0 .5rem;
    font-size: 14px;
    color: #666;
  }
  
  .imageWrapper {
    position: relative;
  }
  
  .watermark {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    font-weight: bold;
  }
  /* Mobile view */
  @media (max-width: 768px) {
    .container {
      width: 20rem; 
      height: 20rem;
    }
  
    .title {
      font-size: 16px;
    }
  
    .text {
      font-size: 13px;
    }
    .watermark {
      bottom: 10px;
      right: 3rem;
    }
  }
  

  @media (max-width: 500px) {
    .container {
      width: 100%; 
      border-radius: 0;
      width: 100vw; 
      height: 20rem;
  }
  .aspectRatioBox {
    position: relative;
    width: 100%;
    height: 12rem;
    display: block;
  }

  .image {
    width: 100%;
    height: 12rem;
    background-size: cover;
    background-position: center;
  }
}