.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-top: 3rem;
}
/* Add this to Home.module.css */

.loadingOverlay {
  position: fixed; /* Full viewport overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 9999; /* Ensure it's above other content */
}

.loadingSpinner {
  border: 4px solid rgba(255, 255, 255, 0.3); /* Light grey border */
  border-top-color: #fff; /* White top border */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.publicItinViewMain,
.editItineraryMain{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editItineraryMain{
  margin-left: 0;
  padding: 0;
}

.myItineraryPage{
  width: 100%;
  padding: 3rem 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.deletedMessage{
  margin-top: 5rem;
  font-size: 18px;
}       
.jumboPlusHomePage{
  display: none;
}
/* Mobile */
@media (max-width: 800px) {
  .myItineraryPage{
    padding: 3rem 0px;
    width: 100vw;
  }


}




