.itineraryEditFormContainer{
    margin-top: 4rem;
}

.mainSettingsContainer,
.itinItemContainer{
    display: flex;
    flex-direction: column;
    border: none;
}

.inputFields{
    margin-bottom: 1rem !important;
    border-radius: 7px;
    border-color: #ccc;
    border-style: solid;
    font-size: 16px;
    /* height: 2.5rem; */
    line-height: 1.5;
}


.infoBox {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    z-index: 10;
    border-radius: 10px;
  }
  
  .infoBoxVisible {
    display: block;
  }
  
  .infoIcon {
    cursor: pointer;
    color: rgb(201, 200, 200); /* Add this line */
    width: 15px; /* Adjust the width */
    height: 15px;
    margin-left: 1rem;
    align-self: center; 
  }
  
  .infoBox.infoBoxVisible{
    display: flex;
    flex-direction: column; 
  }

  .hideButton{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    text-align: right;
  }

  .sharedSettingIfo{
    margin: 0;
    margin-bottom: .25rem;
    font-size: .85em;
  }

  .quillContainer{
    display: flex;
    width: 500px;
    height: auto;
    margin-bottom: 4rem;
  }

  .quill{
    width: 500px;
    height: auto;
  }

  .itinItemCreatorContainer{
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    padding-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

  }

  .addNewItemButton{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 7px;
    border-color: #ccc;
    border-style: solid;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }

  .fieldRow {
    display: flex;
    align-items:center;
    justify-content: left;
    line-height-step: 0;
    margin-bottom: 0rem;
    margin: 0;
    padding: 0;
 
}

.addressSelectSection{
  margin-bottom: 1rem;
}

.crossHair{
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-left: 8px;
}


.coordinatesDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.geolocationSection{
  margin-top: -1rem;
}

.inputFieldsTimeSelectSection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}