@keyframes fadeInBounceFadeOut {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    
    10% {
      transform: scale(1.2);
      opacity: 1;
    
    }
    14%, 28%, 42%, 57%, 71%, 85% {
        transform: translateY(0);
          opacity: 1;
      }
    
    21% {
    transform: translateY(-10%);
    opacity: 1;
    }
    35% {
    transform: translateY(-5%);
    opacity: 1;
    }
    50% {
    transform: translateY(-2.5%);
    opacity: 1;
    }
    64% {
    transform: translateY(-1.25%);
    opacity: 1;
    }
    78% {
    transform: translateY(-0.625%);
    opacity: 1;
    }
    
    85% {
      opacity: .5;
    }

    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes fadeInFadeOut {
    0% {
      opacity: 1;
    }
    
    100% {
      opacity: 1;
    }
  }

  
  .brandNameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    pointer-events: none;
    background-color: #FC4869;
    height: 100vh;
    width: 100vw;
    animation: fadeInFadeOut 2.2s;
    transition: height 0.3s ease;

  }
  
  .brandName {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #F3EFEF;
    text-shadow:
    -1px -1px 0px #F3EFEF,
    1px -1px 0px #F3EFEF,
    -1px 1px 0px #F3EFEF,
    1px 1px 0px #F3EFEF;
    animation:  fadeInBounceFadeOut 2.2s;
    transition: height 0.3s ease;

  }

  .brandNameContainer.animationComplete{
    height: 3rem;
    transition: height 0.3s ease;
    background: linear-gradient(to bottom, #FC4869, #f75b78);
  }

  .brandName.animationComplete{
    font-size: 1.5rem;
    font-weight: 400;
    transition: height 0.3s ease;
    letter-spacing: .01em;
    text-shadow:none
  }