.separatorTextContainer{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.separatorText{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 0rem 2px;
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
}