.container {
    margin: .5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: inherit;
    align-items: center;
    justify-content: center;
}

.searchAndResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.searchForm {
    position: relative;
    display: inline-flex; /* Changed to inline-flex for aligning items */
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    align-self: center;
    border: 1px solid #cfcece;
    border-radius: 50px;
    transition: border 0.3s ease;
    outline: none;
    /* margin: 0 2rem; */
}

.searchForm:hover {
    box-shadow: 0 1px 1px 1px rgba(174, 173, 173, 0.2);
}

.searchInput {
    width: 100%; /* Adjusted for the X button */
    padding: 0.9375rem 1.875rem 0.9375rem 0.9375rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid transparent;
    border-radius: 50px;
}


.searchIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    border-style: none;
    border-radius: 0 20px 20px 0;
}

.searchIconContainer:focus{
    box-shadow: 0 0px 0px 0px rgba(184, 183, 183, 0.9);
    outline:none;
    border-radius: 0 20px 20px 0;

}

.searchIcon{
    color: #a5a5a5;
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}
.submitButton {
    background-color: #a5a5a5;;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 100px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.submitButton:hover {
    background-color: #E03F5A;
    border: none;
    outline:none;
}

.submitButton:focus {
    outline:#E03F5A solid 2px;
}
