.container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.searchForm {
    position: relative;
    display: inline-flex; /* Changed to inline-flex for aligning items */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    align-self: center;
}

.searchInput {
    width: 100%; /* Adjusted for the X button */
    padding: 15px 30px 15px 15px; /* Added padding for the X button inside the input */
    border-radius: 50px;
    border: 2px solid #cfcece;
    font-size: 20px;
    outline: none;
    transition: border 0.3s ease;
}

.searchInput:focus {
    border-color: #fa8a9f;
}

.submitButton {
    background-color: #FC4869;
    color: #fff;
    padding: 16px 20px;
    border: none;
    border-radius: 100px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.submitButton:hover {
    background-color: #E03F5A;
    border: none;
    outline:none;
}

.submitButton:focus {
    outline:#E03F5A solid 2px;
}
