.container{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: #bebebe;
    width: fit-content;
}

.plusSign{
    cursor: pointer;   
}


.plusSign:hover{
    color: #f83c5e;
}

