@media (min-width: 0px) {
.container{
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bebebe;
    width: fit-content;
}

.plusSign{
    cursor: pointer;  
    color: #bebebe;
 
}

}

@media (min-width: 800px) {
    .container{
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        color: #bebebe;
        width: fit-content;
    }
    
    
}