
.menuContainer {
  display: flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  height: 3rem;
  width: fit-content;
  
}

.menuButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #F3EFEF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  float: right;
}

.menuBar {
  z-index:30;
  position: fixed;
  top: 0;
  right: -250px; /*Initially hidden*/
  height: 100%;
  width: 250px;
  background: linear-gradient(whitesmoke, rgba(255, 255, 255, .95));
  /* background-color: #333; */
  transition: right 0.3s ease;
  overflow-y: auto; /* Scrollable if content overflows */  
}

.menuBar.show {
  right: 0; /* Visible */
  z-index:1000;

}

.menuOptions {
  list-style-type: none;
  padding: 1rem;
  text-align: left;
}

.menuOption {
  padding: 1rem .25rem;

  /* border-bottom: 1px solid #444; */
  border-bottom: none;

}

.menuOption a {
  text-decoration: none;
  color:#bebebe;
  transition: color 0.3s ease;
  font-size: 1.25rem;
}

.menuOption a:hover {
  color: #aaa;
}

.closeButton {
  font-size: 1.25rem; /* Heading size */
  background: linear-gradient(whitesmoke, rgba(255, 255, 255, .10));
  border: none;
  color: #bebebe;
  text-align: right;
  width: 100%;    
  padding-right: 1rem;
  padding-top: 1rem;
  height:3rem
}

.menuButton.hide {
  display: none;
}

.profilePicImageContainer {
  max-width: 150px;
  height: auto;
  border: none;
  align-self: center;
}

.profilePicture {
  position: absolute; /* Positions the image within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileText {
  color: #bebebe;
  font-size: 1.25rem;
  padding: 1rem .25rem;
}
.hamburgerIconContainer {
  display: none;
}
.hamburgerIcon{
  color:#bebebe
}

.hamburgerIcon:hover .menuText {
  color: #f83c5e !important;
}


.menuContainer{
  width: 5.5rem;
}

.menuContainer:hover .menuText {
  color: #f83c5e !important;
}

.menuText {
    display: block;
    color:#bebebe;
    font-size: 1.25rem;
}

.profileInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

@media (max-width: 768px) {

  .hamburgerIconContainer {
    display: block;
    width: fit-content;
  }

  .hamburgerIcon{
    width: 1rem;
    height: 1rem;
  }
  .menuText {
    display: none;
  }
  .menuText :hover{
    color: #f83c5e;
  }
  

  .hamburgerIcon:hover {
    color: #f83c5e !important;
  }
  
}




@media (max-width: 480px) {
  
  .menuText:hover  {
    color: #f83c5e !important;
  }
  
  .hamburgerIcon:hover {
    color: #f83c5e !important;
  }




.menuText :hover{
  color: #f83c5e;
}

}