/* Wrapper.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
  }
  
  /* Desktop view */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      padding: 0 1rem;
      gap: 1rem;
    }
  }
  
