/* Wrapper.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Desktop view */
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
    }
  }
  
